@model CustomerManagementSystem.BLL.Models.PropertyMaster

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <h1>Property</h1>
    <div class="box box-danger">
        <div class="box-header with-border">
            <div class="form-horizontal">

                <div class="form-group"></div>
                <div class="form-group"></div>
                <div class="form-group"></div>
            </div>
            <div class="form-horizontal">
                <h3>Are you sure you want to delete property record?</h3>
                <div>

                    <hr />
                    <div class="dl-horizontal">
                        <h2>
                            @Html.DisplayNameFor(model => model.PropertyName)
                        </h2>


                        <label>@Html.DisplayFor(model => model.PropertyName) owned by @Html.DisplayFor(model => model.PropertyOwnerName) </label>




                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-offset-8 col-md-2">
                                    <input type="submit" value="Delete" class="btn btn-primary btn-block btn-flat" />

                                </div>
                                <div class="col-md-2">
                                    <input type="button" onclick="window.location='/PropertyMasters/Index'" value="Back to list" class="btn btn-danger btn-block btn-flat" />
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>