@model CustomerManagementSystem.BLL.ViewModels.ReportsViewModel.UnAssignedReportsViewModel

@{
    /**/
}


<form action="/Reports/DealStatus" id="leadconversionform" method="post">
    <div id="content">
        <div id="content">
            <h1>Deal Status Report</h1>
            <div class="box box-danger">
                <div class="box-header with-border">
                    <div class="form-horizontal">
                        <hr />
                        <div class="form-group">
                            <div class="col-md-2"><label>Actions</label></div>
                            <div class="col-md-4">
                                <select class="form-control select No-Validate" id="ActionTypes" name="ActionTypes">
                                    @{
                                        foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ActionTypes)
                                        {
                                            if (item.Selected)
                                            {
                                                <option value="@item.Value" selected>@item.Text</option>}
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">


                            <div class="col-md-2"><label>Date From</label></div>
                            <div class="col-md-4">
                                <input type="date" class="form-control" id="fromdate" name="fromdate" />
                            </div>


                            <div class=" col-md-2"><label>Date to</label></div>
                            <div class="col-md-4">
                                <input type="date" class="form-control" id="todate" name="todate" />
                            </div>

                        </div>




                        <div class="form-group">
                            <div class="col-md-offset-10 col-md-2">
                                <input type="button" onclick="Generate()" value="Generate" class="btn btn-primary btn-block btn-flat" />

                            </div>
                        </div>




                    </div>
                </div>
                <div class="box-header with-border">
                    <div class="">
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Load c3.css -->
<link href="~/Content/C3charts/c3-0.6.5/c3.css" rel="stylesheet" />
<!-- Load d3.js and c3.js -->
<script src="https://d3js.org//d3.v5.min.js" charset="utf-8"></script>
<script src="~/Content/C3charts/c3-0.6.5/c3.min.js"></script>

<script>
    //var jsonData = [
    //    { name: 'www.site1.com', upload: 200 },
    //    { name: 'www.site2.com', upload: 100 },
    //    { name: 'www.site3.com', upload: 300 },
    //    { name: 'www.site4.com', upload: 400 }
    //]

    //var data = {};
    //var sites = [];
    //jsonData.forEach(function (e) {
    //    sites.push(e.name);
    //    data[e.name] = e.upload;
    //})

    //chart = c3.generate({
    //    data: {
    //        json: [data],
    //        keys: {
    //            value: sites,
    //        },
    //        type: 'donut'
    //    },
    //});
    function Generate() {
        
       
        $.ajax({
            type: "POST",
            url: "../Reports/DealStatus",
            data: { datefrom: $('#fromdate').val(), dateto: $('#todate').val(), ActionType: $("#ActionTypes").val() },
            dataType: "text",
            async: false,
            success: function (data1) {
                debugger;
                var data = {};
                var sites = [];
                data1 = JSON.parse(data1);
                data1.forEach(function (e) {
                    sites.push(e.Name);
                    data[e.Name] = e.Count;
                })

                chart = c3.generate({
                    data: {
                        json: [data],
                        keys: {
                            value: sites,
                        },
                        type: 'donut'
                    },
                });
                //var chart = c3.generate({
                //    data: {
                //        json: [
                //            ['data1', 30],
                //            ['data2', 120],
                //        ],
                //        type: 'donut',
                //        onclick: function (d, i) { console.log("onclick", d, i); },
                //        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                //        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                //    },
                //    donut: {
                //        title: "Iris Petal Width"
                //    }
                //});
                //c3.generate({
                //    data: {
                //        json: {

                //            Revenue: JSON.parse(data1)[0]
                //        }
                //    }
                //});
                
            },
            error: function (data1) {
                
            }
        })
    }</script>