@model IEnumerable<CustomerManagementSystem.BLL.Models.Country>

@{
    ViewBag.Title = "Index";
}

<div style="background-color: white;height:100%">
    <h1>Countries</h1>

    <p>
        <input type="button" onclick="window.location='/countries/create'" value="Create" class="btn btn-success" />
    </p>
    <div style="padding:10px" class="box box-danger">
        <table class="table table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CountryName)
                </th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CountryId }) |

                        @Html.ActionLink("Delete", "Delete", new { id = item.CountryId })
                    </td>
                </tr>
            }

        </table>
        </div>
    </div>
