<script src="~/js/libs/jquery-2.1.1.min.js"></script>
<script src="~/js/libs/jquery-ui-1.10.3.min.js"></script>

<link href="~/Content/jsgrid/jsgrid.min.css" rel="stylesheet" />
<link href="~/Content/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Content/jsgrid/jsgrid.min.js"></script>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form id="leadForm" action="/SourceTypes/Index" method="post">
    <div id="content">
        <div class="form-horizontal">
            <div class="form-group">
                <div id="jsGrid"></div>
            </div>
        </div>

    </div>
</form>

<script type="text/javascript">



    $(document).ready(function () {
     
        var originalFilterTemplate = jsGrid.fields.text.prototype.filterTemplate;
        jsGrid.fields.text.prototype.filterTemplate = function () {
            var grid = this._grid;
            var $result = originalFilterTemplate.call(this);
            $result.on("keyup", function (e) {
                // TODO: add proper condition and optionally throttling to avoid too much requests
                grid.search();
            });
            return $result;
        }

        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",
            filtering: true,
            sorting: true,
            paging: true,
            autoload: true,
            async: false,

            pageSize: 5,
            pageButtonCount: 5,

            controller: {

                loadData: function (filter) {
                    var d = $.Deferred();
                    $.ajax({
                        type: "GET",
                        async: false,
                        url: "../SourceTypes/SourceTypeListingAjax",
                        dataType: "JSON"
                    }).done(function (result) {
                        for (var prop in filter) {

                            if (prop == "Is_Active" && filter['Is_Active'] != null) {
                                result = $.grep(result, function (item) {
                                    if (item[prop] == filter[prop]) {
                                        return item;
                                    }
                                });
                                break;
                            }
                            if (prop !="Is_Active") {
                                if (filter[prop].length > 0) {
                                    result = $.grep(result, function (item) {
                                        var regexp = new RegExp(filter[prop], 'gi');
                                        if (item[prop].match(regexp)) {
                                            return item;
                                        }
                                    });
                                    break;
                                }
                            }
                            

                        }
                        d.resolve(result);
                    });
                    return d.promise();
                }
            },
            fields: [
                { name: "Source_Type_Id", title: "id", type: "number", visible: false, align: 'center' },
                { name: "Source_Name", title: "Source Name", type: "text", width: 150, validate: "required", align: 'center', editing: false },
                { name: "Is_Active", title: "Is Active", type: "checkbox", width: 50, validate: "required", align: 'center', editing: false },
                {
                    type: 'control',
                    align: 'center',
                    itemTemplate: function (_, item) {
                        return "<a onclick =\"ReditectToViewSection(" + item.Source_Type_Id + ");\" name='View'>View</a> | <a onclick =\"ReditectToEditSection(" + item.Source_Type_Id + ");\" name='Edit'>Edit</a>  | <a href=\"/SourceTypes/Delete/" + item.Source_Type_Id + "\">Delete</a>";
                    }, width: 40
                }
            ]

        });

    });

</script>
<script>

    function ReditectToViewSection(Source_Type_Id) {
        var base_url = window.location.origin;
        window.location = base_url + "/SourceTypes/Details/" + Source_Type_Id;
    }

    function ReditectToEditSection(Source_Type_Id) {
        var base_url = window.location.origin;
        window.location = base_url + "/SourceTypes/Edit/" + Source_Type_Id;
    }
    function ReditectToDisableSection(Source_Type_Id) {
        var base_url = window.location.origin;
        window.location = base_url + "/SourceTypes/View/id=" + Source_Type_Id;
    }
</script>
